@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  position: relative;
  height: 100vh;
}
.header__slider {
  &-item {
    height: 100vh;
    background: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
}

.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;
}

.slider-item__info-subtitle {
  margin-bottom: 5px;
}

.slider-item__info-subtext {
  margin-bottom: 8px;
}
.slider-item__info-title {
  font-weight: 800;
  font-size: 80px;
  line-height: 86px;
  text-align: right;
}

.slider-item__info-text {
  font-weight: 800;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 20px;
}

.slider-arrows {
  position: absolute;
  top: 40px;
  right: 80px;
  cursor: pointer;
  z-index: 4;
  &__left {
    right: 124px;
  }
}

.slider-dotshead {
  position: absolute;
  right: 50px;
  bottom: 30px;
  max-width: 920px;
  width: 100%;
  .slick-current {
    .dots-box {
      border-color: $green;
    }
  }
}

.dots-box {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 4px solid rgb(255, 255, 255);
  padding-top: 6px;
  &__number {
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
  }
  &__name {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
  }
}

.header-title {
  position: absolute;
  top: 0;
  left: -14px;
  font-size: 200px;
  line-height: 156px;
  font-weight: 800;
  z-index: 4;
  opacity: 0.07;
  width: 467px;
}

.header-aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  border-right: 1px solid rgba(#fff, 0.25%);
  height: 100vh;
  text-align: center;
}

.menu {
  a {
    span {
      display: block;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      letter-spacing: 3px;
      padding-top: 6px;
      margin-bottom: 15px;
      text-transform: capitalize;
    }
  }
}

.header__date {
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;
  span {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.4px;
    margin-bottom: 15px;
    padding-top: 15px;
    display: block;
  }
}

.header__location {
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.05px;
  position: relative;
  padding-left: 19px;
  text-transform: capitalize;
  &::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 13px;
    background-image: url(../img/marker.svg);
    left: 0;
    top: 0;
  }
}

.header__map {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

.header__arrows {
  position: absolute;
  z-index: 3;
  left: 210px;
  bottom: 40px;
}

.line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animdash 5s 6s;
  animation-fill-mode: forwards;
}

@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}

.surf {
  padding: 160px 0 120px;
  background-image: url(../img/surf-bg.png);
  background-repeat: no-repeat;
  background-position: right 200px;
  background-size: auto;
}

.surf__subtitle {
  text-align: right;
  padding-right: 80px;
  margin-top: -80px;
}

.surf-slider {
  padding-top: 110px;
  .slider-arrows {
    top: 50px;
    opacity: 0.25;
  }
  .slick-slide:nth-child(4n + 1) {
    .surf-box {
      margin-top: 32px;
    }
  }
  .slick-slide:nth-child(4n + 3) {
    .surf-box {
      margin-top: 89px;
    }
  }
  .slick-current{
    .surf-box__inner-btn{
      display: block;
    }
    .surf-box__inner{
      background: rgba(#1c2121, .3);
    }
  }
}

.surf-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__inner {
    min-height: 750px;
    background: rgba(#1c2121, 0.85);
    position: relative;
    transition: all .5s;
    &:hover{
      background: rgba(#1c2121, .3);
      .surf-box__inner-btn{
        display: block;
      }
    }
  }
}

.surf-box__inner-title {
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  padding: 72px 0 0 40px;
  width: 140px;
}

.surf-box__inner-location {
  position: absolute;
  left: 38px;
  bottom: 80px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  transform: rotate(-90deg);
  width: 0;
  height: 0;
  white-space: nowrap;
  span {
    font-weight: 100;
  }
}

.surf-box__inner-btn {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  display: none;
  span {
    padding: 17px 57px 15px 17px;
    background-color: $green;
    display: inline-block;
    margin-left: 19px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 1px;
      background-color: #fff;
      top: 50%;
      left: -10px;
    }
    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/arrows-right.svg);
      width: 25px;
      height: 21px;
      top: 50%;
      right: 17px;
      transform: translateY(-50%);
    }
  }
}

.slider-map{
  max-width: 1200px;
  min-height: 635px;
  background: url(../img/world-map-dots.png) no-repeat center center/cover;
  margin: 0 auto;
  .slick-list{
    min-height: 635px;
  }
  .slick-current{
    .slider-dots__content{
      display: block;
      width: 283px;
      padding: 28px 32px;
      // position: absolute;
      // bottom: 36px;
      // transform: translateX(-60%);
    }
  }
}

.slider-dots__content-row{
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.slider-dots__content-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-dots__content-title{
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 1px;
    background-color: #4AF6CD;
  }
}

.slider-dots__content-subtitle{
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
}

.slider-dots__content-link{
  padding-top: 4px;
}

.slider-dots__content-number{
  font-weight: 800;
  font-size: 16px;
  line-height: 23px;
  padding: 8px 0;
}

.slider-dots__content-name{
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
}

.slider-dots__circle{
width: 23px;
height: 23px;
background-color: $green;
border-radius: 50%;
}

.slider-dots__content{
  display: none;
  background: rgba(#000000, .3);
  border-radius: 6px;
  position: absolute;
  bottom: 36px;
  transform: translateX(-50%);
  &::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 20px solid #4AF6CD;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    bottom: -22px;
    left: 50%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

.slider-dots{
  position: relative;
}

.slider-dots--1{
  top: 348px;
  left: 0;
  .slider-dots__content{
    transform: translateX(0);
    &::before{
      left: 0;
    }
  }
}
.slider-dots--2{
  top: 297px;
  .slider-dots__circle{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url(../img/mini-marker.png);
      width: 14px;
      height: 17px;
      background-size: cover;
      right: -17px;
      top: -23px;
      // opacity: .5;
    }
  }
}
.slider-dots--3{
  top: 318px;
  left: 39px;
}
.slider-dots--4{
  top: 496px;
  left: -37px;
}
.slider-dots--5{
  top: 264px;
  left: -68px;
  .slider-dots__content{
    transform: translateX(-50%);
    &::before{
      left: 50%;
    }
  }
}
.slider-dots--6{
  top: 555px;
  left: -115px;
}
.slider-dots--7{
  top: 395px;
  left: -98px;
}
.slider-dots--8{
  top: 497px;
  left: 33px;
  .slider-dots__content{
    transform: translateX(-255px);
    &::before{
      left: 90%;
    }
  }
}

.travel-slider__info {
  display: flex;
}




@import "media";
