section.travel
    .container
        .title
            span travel
                h3 travel
        .travel__slider
            //- slide 1
            .travel__slider-item.travel-slider
                .travel-slider__head(style='background-image: url(img/travel-slider.png);')
                    .travel-slider__subtitle
                        .subtitle
                            .headline-left Shore
                            .subtitle__head Airlie Beach
                                span Australia
                .travel-slider__descr(style='background-image: url(img/virgin.png);')
                    .descr
                        .headline-right Airline
                        .descr__head Virgin Australia
                            img(src="img/avia-logo.svg" alt="")
                .travel-slider__info
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Destination
                        .travel-slider__info-title
                            | Queensland
                            br
                            | Australia
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Distance
                        .travel-slider__info-title 7,065 Miles
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Travel Time
                        .travel-slider__info-title
                            | 23 Hours
                            br
                            | 5 Minutes
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Pricing
                        .travel-slider__info-title $1,976 USD
                            span Round Trip
                .travel-slider__btn
                    a.btn(href="#" tabindex="0") Book
                        span Flight

            //- slide 2
            .travel__slider-item.travel-slider
                .travel-slider__head(style='background-image: url(img/travel-slider.png);')
                    .travel-slider__subtitle
                        .subtitle
                            .headline-left Shore
                            .subtitle__head Airlie Beach
                                span Australia
                .travel-slider__descr(style='background-image: url(img/virgin.png);')
                    .descr
                        .headline-right Airline
                        .descr__head Virgin Australia
                            img(src="img/avia-logo.svg" alt="")
                .travel-slider__info
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Destination
                        .travel-slider__info-title
                            | Queensland
                            br
                            | Australia
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Distance
                        .travel-slider__info-title 7,065 Miles
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Travel Time
                        .travel-slider__info-title
                            | 23 Hours
                            br
                            | 5 Minutes
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Pricing
                        .travel-slider__info-title $1,976 USD
                            span Round Trip
                .travel-slider__btn
                    a.btn(href="#" tabindex="0") Book
                        span Flight

            //- slide 3
            .travel__slider-item.travel-slider
                .travel-slider__head(style='background-image: url(img/travel-slider.png);')
                    .travel-slider__subtitle
                        .subtitle
                            .headline-left Shore
                            .subtitle__head Airlie Beach
                                span Australia
                .travel-slider__descr(style='background-image: url(img/virgin.png);')
                    .descr
                        .headline-right Airline
                        .descr__head Virgin Australia
                            img(src="img/avia-logo.svg" alt="")
                .travel-slider__info
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Destination
                        .travel-slider__info-title
                            | Queensland
                            br
                            | Australia
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Distance
                        .travel-slider__info-title 7,065 Miles
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Travel Time
                        .travel-slider__info-title
                            | 23 Hours
                            br
                            | 5 Minutes
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Pricing
                        .travel-slider__info-title $1,976 USD
                            span Round Trip
                .travel-slider__btn
                    a.btn(href="#" tabindex="0") Book
                        span Flight

            //- slide 4
            .travel__slider-item.travel-slider
                .travel-slider__head(style='background-image: url(img/travel-slider.png);')
                    .travel-slider__subtitle
                        .subtitle
                            .headline-left Shore
                            .subtitle__head Airlie Beach
                                span Australia
                .travel-slider__descr(style='background-image: url(img/virgin.png);')
                    .descr
                        .headline-right Airline
                        .descr__head Virgin Australia
                            img(src="img/avia-logo.svg" alt="")
                .travel-slider__info
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Destination
                        .travel-slider__info-title
                            | Queensland
                            br
                            | Australia
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Distance
                        .travel-slider__info-title 7,065 Miles
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Travel Time
                        .travel-slider__info-title
                            | 23 Hours
                            br
                            | 5 Minutes
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Pricing
                        .travel-slider__info-title $1,976 USD
                            span Round Trip
                .travel-slider__btn
                    a.btn(href="#" tabindex="0") Book
                        span Flight

            //- slide 5
            .travel__slider-item.travel-slider
                .travel-slider__head(style='background-image: url(img/travel-slider.png);')
                    .travel-slider__subtitle
                        .subtitle
                            .headline-left Shore
                            .subtitle__head Airlie Beach
                                span Australia
                .travel-slider__descr(style='background-image: url(img/virgin.png);')
                    .descr
                        .headline-right Airline
                        .descr__head Virgin Australia
                            img(src="img/avia-logo.svg" alt="")
                .travel-slider__info
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Destination
                        .travel-slider__info-title
                            | Queensland
                            br
                            | Australia
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Distance
                        .travel-slider__info-title 7,065 Miles
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Travel Time
                        .travel-slider__info-title
                            | 23 Hours
                            br
                            | 5 Minutes
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Pricing
                        .travel-slider__info-title $1,976 USD
                            span Round Trip
                .travel-slider__btn
                    a.btn(href="#" tabindex="0") Book
                        span Flight

            //- slide 6
            .travel__slider-item.travel-slider
                .travel-slider__head(style='background-image: url(img/travel-slider.png);')
                    .travel-slider__subtitle
                        .subtitle
                            .headline-left Shore
                            .subtitle__head Airlie Beach
                                span Australia
                .travel-slider__descr(style='background-image: url(img/virgin.png);')
                    .descr
                        .headline-right Airline
                        .descr__head Virgin Australia
                            img(src="img/avia-logo.svg" alt="")
                .travel-slider__info
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Destination
                        .travel-slider__info-title
                            | Queensland
                            br
                            | Australia
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Distance
                        .travel-slider__info-title 7,065 Miles
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Travel Time
                        .travel-slider__info-title
                            | 23 Hours
                            br
                            | 5 Minutes
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Pricing
                        .travel-slider__info-title $1,976 USD
                            span Round Trip
                .travel-slider__btn
                    a.btn(href="#" tabindex="0") Book
                        span Flight

            //- slide 7
            .travel__slider-item.travel-slider
                .travel-slider__head(style='background-image: url(img/travel-slider.png);')
                    .travel-slider__subtitle
                        .subtitle
                            .headline-left Shore
                            .subtitle__head Airlie Beach
                                span Australia
                .travel-slider__descr(style='background-image: url(img/virgin.png);')
                    .descr
                        .headline-right Airline
                        .descr__head Virgin Australia
                            img(src="img/avia-logo.svg" alt="")
                .travel-slider__info
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Destination
                        .travel-slider__info-title
                            | Queensland
                            br
                            | Australia
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Distance
                        .travel-slider__info-title 7,065 Miles
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Travel Time
                        .travel-slider__info-title
                            | 23 Hours
                            br
                            | 5 Minutes
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Pricing
                        .travel-slider__info-title $1,976 USD
                            span Round Trip
                .travel-slider__btn
                    a.btn(href="#" tabindex="0") Book
                        span Flight

            //- slide 8
            .travel__slider-item.travel-slider
                .travel-slider__head(style='background-image: url(img/travel-slider.png);')
                    .travel-slider__subtitle
                        .subtitle
                            .headline-left Shore
                            .subtitle__head Airlie Beach
                                span Australia
                .travel-slider__descr(style='background-image: url(img/virgin.png);')
                    .descr
                        .headline-right Airline
                        .descr__head Virgin Australia
                            img(src="img/avia-logo.svg" alt="")
                .travel-slider__info
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Destination
                        .travel-slider__info-title
                            | Queensland
                            br
                            | Australia
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Distance
                        .travel-slider__info-title 7,065 Miles
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Travel Time
                        .travel-slider__info-title
                            | 23 Hours
                            br
                            | 5 Minutes
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Pricing
                        .travel-slider__info-title $1,976 USD
                            span Round Trip
                .travel-slider__btn
                    a.btn(href="#" tabindex="0") Book
                        span Flight