<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="https://fonts.googleapis.com/css?family=Fira+Sans:100,300,400,500,800&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/style.min.css")
    body
        include includes/header.pug

        .container
            section.surf
                .title
                    span surf
                        h3 surf
                .surf__subtitle
                    .subtitle
                        .headline-left Current location
                        .subtitle__head California
                            span |

                include includes/slider-map.pug

                include includes/surf-slider.pug

            include includes/travel.pug

            include includes/sleep.pug

            section.shop
                .title
                    span shop
                    h3 shop

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='js/libs.min.js')
        script(src='js/main.js')

