<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="https://fonts.googleapis.com/css?family=Fira+Sans:100,300,400,500,800&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/style.min.css")
    body
        include includes/header.pug

        .container
            section.surf
                .title
                    span surf
                        h3 surf
                .surf__subtitle
                    .subtitle
                        .headline-left Current location
                        .subtitle__head California
                            span |

                include includes/slider-map.pug

                include includes/surf-slider.pug

            section.travel
                .container
                    .title
                        span travel
                            h3 travel
                    .travel__slider
                        .travel__slider-item.travel-slider
                            .travel-slider__head(style='background-image: url(img/travel-slider.png);')
                                .travel-slider__subtitle
                                    .subtitle
                                        .headline-left Shore
                                        .subtitle__head Airlie Beach
                                            span Australia
                            .travel-slider__descr(style='background-image: url(img/virgin.png);')
                                .descr
                                    .headline-right Airline
                                    .descr__head Virgin Australia
                                        img(src="img/avia-logo.svg" alt="")
                            .travel-slider__info
                                .travel-slider__info-item
                                    .travel-slider__info-subtitle Destination
                                    .travel-slider__info-title Queensland Australia
                                .travel-slider__info-item
                                    .travel-slider__info-subtitle Distance
                                    .travel-slider__info-title 7,065 Miles
                                .travel-slider__info-item
                                    .travel-slider__info-subtitle Travel Time
                                    .travel-slider__info-title 23 Hours 5 Minutes
                                .travel-slider__info-item
                                    .travel-slider__info-subtitle Pricing
                                    .travel-slider__info-title $1,976 USD
                                        span Round Trip
                                .travel-slider__btn
                                    a.btn(href="#" tabindex="0") Book
                                        span Flight

            section.sleep
                .title
                    span sleep
                        h3 sleep
                .surf__subtitle
                    .subtitle
                    .headline-left Resorts
                    .subtitle__head Auberge
                        span Australia

            section.shop
                .title
                    span shop
                    h3 shop

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='js/libs.min.js')
        script(src='js/main.js')

